* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 95vw;
}

h1 {
  /* Find Your Dream Vehicle */
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Poppins', arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  max-width: 600px;
  margin: 0 auto;
}

form {
  width: 100%;
  background: white;
  padding: 30px;
  border-radius: 30px;
}

main > header.wrapper {
  margin-bottom: 50px;
}

form ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    --dropdown-height: 68px;
    --label-border-color: #aaa;
    --disabled-color: #efefef;
    position: relative;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h2 {
      font-family: 'Open Sans', Helvetica, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 65px;
      color: #348FBC;
    }
    .form-control {
      position: relative;
      width: 100%;
      label {
        font-family: 'Open Sans', Helvetica, sans-serif;
        color: var(--label-border-color);
        display: inline-block;
        width: auto;
        position: relative;
        z-index: 2;
        background: white;
        padding: 0 10px;
        margin-left: 10px;
      }
      &::before {
        display: block;
        content: "";
        width: calc(100% - 6px);
        height: calc(var(--dropdown-height) - 20px);
        border: 2px solid var(--label-border-color);
        position: absolute;
        top: 10px;
        left: 0;
        border-radius: 10px;
        z-index: 1;
      }
      select {
        display: block;
        height: calc(var(--dropdown-height) - 30px);
        width: calc(100% - 20px);
        margin: 0 auto;
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
        position: relative;
        z-index: 2;
        font-size: 20px;
        text-transform: capitalize;
      }

    }

    &.disabled .form-control  { 
      label {
        color: var(--disabled-color);
      }
      &::before {
        border-color: var(--disabled-color);
      }
      select {
        color: var(--disabled-color);
      }
    }
  }
  > li:first-child::after {
    display: block;
    content: "";
    height: 100%;
    width: 3px;
    background: rgba(217, 217, 217);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 2px;
  }
  > li:last-child::after {
    display: block;
    content: "";
    height: 100%;
    width: 3px;
    background: rgba(217, 217, 217);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
  }
}
